---
layout: default
---

<div class="about-col-wrapper">
  <div class="about-col about-col-1">
    {% if site.author.github_username %}
    <img
      class="user-picture"
      src="https://github.com/{{ site.author.github_username }}.png"
      alt="Sebastian Gehrmann"
    />
    {% endif %}
  </div>
  <article
    class="about-col about-col-2"
    itemscope
    itemtype="http://schema.org/BlogPosting"
  >
    <div class="post-content" itemprop="articleBody">{{ content }}</div>
  </article>
  <div class="contact-list">{% include contactlist.html %}</div>
  <div class="publication-list">
    <h2>Publications</h2>
    <b>
      This list is outdated, please check my
      <a
        href="https://scholar.google.com/citations?user=x6KQCV8AAAAJ"
        target="_blank"
        >google scholar</a
      >
      for an up-to-date list
    </b>
    {% for year in site.data.bib %}
    <h3 class="pub-year">{{year.year}}</h3>
    {% for paper in year.papers%}
    <div class="info">
      <div class="title">{{paper.title}}</div>
      <div class="authors">{{paper.authors}}</div>
      <div class="venue">{{paper.venue}}</div>
      {% if paper.awards %} {% for award in paper.awards %}
      <span class="award">
        <span class="icon icon--email">{% include _icons/award.svg %}</span
        ><span>{{award}}</span>
      </span>
      {% endfor %} {% endif %} {% if paper.links %} {% for link in paper.links
      %}
      <span>[</span
      ><a class="paper-link" target="_blank" href="{{link.url}}"
        >{{link.title}}</a
      ><span>]</span>
      {% endfor %} {% endif %}
    </div>

    {% endfor %} {% endfor %}
  </div>
</div>
